@import url(common_ui.css);
.swiper {
    width: 100%;
    height: 100vh;
}

.swiper-slide {
    font-size: 18px;
    /* 
    display: flex;
    justify-content: center;
    align-items: center; */
}

/* 
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */


/*                      POP UP                      */

.popup{
    width: 460px;
    padding:20px;
    position: fixed;
    left:10%;
    top:13%;
    z-index: 999;
}
.popup_contents{
    padding: 30px;
    background: rgba(255,255,255,1);
    color: #353535;
    border-radius: 10px;
    box-shadow: 0 0 0 10px #34f09980;
    position: relative;
}

.popup hr{
    margin: 18px 0;
    border-color: rgba(255, 255, 255, 0.5);
}

.popup_contents h2{
    font-size: 24px;
    line-height: 30px;
    font-family: var(--appleEB);
    color: var(--colorblack);
    text-shadow: none;
    letter-spacing: -0.05em;
}
.popup_contents > p{
    line-height: 32px;
    font-size: 14px;
}

.during p {
    letter-spacing: 0.03em;
    padding: 2px 0;
}
.during p:nth-child(4) {
    letter-spacing: 0.03em;
    padding: 10px 0;
    line-height: 30px;
}
.during em{
    font-family: var(--appleB);
    color: var(--mainColor);
}
.during a:nth-of-type(1){
    border-bottom: none;
}
.during a{
    border-bottom: 2px solid #34f099;
}
.popup_contents .sevenday{
    text-align: right;
}
.popup_contents button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: wheat;
    position: absolute;
    right: -20px;
    top: -20px;
    cursor: pointer;
}
.popup_contents button i{
    font-size: 18px;    
}
/* ---------------------main----------------------- */

.swiper-slide .slide1 {
    display: block;
    background: url(../img/mainbg1.jpg) no-repeat;
    background-position: -40px -6px;
    overflow: hidden;
    height: 100vh;
    position: relative;
}

.swiper-slide .slide1 .main_contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main_contents .main_tt {
    margin-bottom: 74px;
    animation: fadeUp 1s;
}

@keyframes fadeUp {
    from {
        margin-top: 20px;
        opacity: 0;
    }
    to {
        margin-top: 0px;
        opacity: 1;
    }
}

.main_contents .btn {
    animation: fadeUp2 1s;
}

.btn.hover-effect {
    position: relative;
    margin: 10px auto;
    width: 220px;
    height: 50px;
    border: 3px solid #34f099;
    border-radius: 3em;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.btn.hover-effect:before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 2em;
    background-color: #34f099;
    position: absolute;
    bottom: -50px;
    left: 0;
    z-index: -1;
    transition: all 0.3s linear 0.2s;
}

.btn.hover-effect:after {
    content: "";
    width: 101%;
    height: 100%;
    border-radius: 2em;
    background-color: rgba(52, 240, 153, 0.5);
    position: absolute;
    bottom: -50px;
    left: 0;
    z-index: -1;
    transition: all 0.3s linear;
}

.btn.hover-effect:hover h2 {
    color: #fff;
    line-height: 48px;
}

.btn:hover:before, .btn:hover:after {
    bottom: 0;
}

h2 {
    line-height: 48px;
    color: #34f099;
    text-transform: uppercase;
    transition: all 0.3s linear;
    text-shadow: 1px 0px 4px rgba(150, 150, 150, .5);
}

.swiper-horizontal>.swiper-scrollbar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 12em;
    z-index: 50;
    height: 6px;
    width: 30%;
}

.swiper-scrollbar {
    background: rgba(255, 255, 255, .6);
    overflow: hidden;
}

.swiper-scrollbar .swiper-scrollbar-drag {
    background: #34f099;
}