@import url(common_ui.css);
.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  font-size: 18px;
}

/* ---------------------main----------------------- */

.swiper-slide .slide1 {
  display: block;
  background: url(../img/mainbg1.jpg) no-repeat;
  background-position: -40px -6px;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.swiper-slide .slide1 .main_contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main_contents .main_tt {
  margin-bottom: 74px;
  animation: fadeUp 1s;
}

@keyframes fadeUp {
  from {
    margin-top: 20px;
    opacity: 0;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}

.main_contents .btn {
  animation: fadeUp2 1s;
}

.btn.hover-effect {
  position: relative;
  margin: 10px auto;
  width: 220px;
  height: 50px;
  border: 3px solid #34f099;
  border-radius: 3em;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

.btn.hover-effect:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 2em;
  background-color: #34f099;
  position: absolute;
  bottom: -50px;
  left: 0;
  z-index: -1;
  transition: all 0.3s linear 0.2s;
}

.btn.hover-effect:after {
  content: "";
  width: 101%;
  height: 100%;
  border-radius: 2em;
  background-color: rgba(52, 240, 153, 0.5);
  position: absolute;
  bottom: -50px;
  left: 0;
  z-index: -1;
  transition: all 0.3s linear;
}

.btn.hover-effect:hover h2 {
  color: #fff;
  line-height: 48px;
}

.btn:hover:before,
.btn:hover:after {
  bottom: 0;
}

h2 {
  line-height: 48px;
  color: #34f099;
  text-transform: uppercase;
  transition: all 0.3s linear;
  text-shadow: 1px 0px 4px rgba(150, 150, 150, 0.5);
}

.swiper-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 12em;
  z-index: 50;
  height: 6px;
  width: 30%;
}

.swiper-scrollbar {
  background: rgba(255, 255, 255, 0.6);
  overflow: hidden;
}

.swiper-scrollbar .swiper-scrollbar-drag {
  background: #34f099;
}

/* ---------------------vision---------------------- */

#cell_vision {
  margin-top: 240px;
}

#cell_vision > h2 {
  font-family: var(--appleB);
  font-size: 40px;
  line-height: 72px;
  color: var(--colorblack);
  text-transform: uppercase;
  text-align: center;
}

#cell_vision .vision {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

#cell_vision .vision > .sprite {
  width: 188px;
  height: 190px;
  text-align: center;
  text-indent: 0;
}

#cell_vision .vision .circle1 {
  line-height: 190px;
  transform: translateX(33px);
  background-position: 0 -47px;
}

#cell_vision .vision .circle2 {
  background-position: -191px -47px;
  text-align: center;
  display: flex;
  align-items: center;
}

#cell_vision .vision .circle2 p {
  width: 70px;
  margin: 0 auto;
}

#cell_vision .vision .circle2 span {
  font-weight: 800;
}

#cell_vision .vision .circle3 {
  line-height: 190px;
  transform: translateX(-33px);
  background-position: -384px -47px;
}

#cell_vision .vision_content {
  margin-top: 96px;
  display: flex;
  justify-content: flex-start;
  gap: 124px;
}

.vision_content .vi_left {
  flex-direction: column;
  width: 610px;
  position: relative;
}

.vision_content .vi_left .vi_img1 {
  width: 587px;
  height: 311px;
}

.vision_content .vi_left .vi_img2 {
  width: 360px;
  height: 200px;
  position: relative;
  z-index: 2;
  margin-top: -52px;
  margin-left: 265px;
}

.vision_content .vi_left .vi_img3 {
  width: 384px;
  height: 485px;
  margin-top: 100px;
  margin-left: -10px;
}

.vision_content .vi_left .vi_img4 {
  width: 486px;
  height: 344px;
  margin-top: 108px;
  margin-left: 80px;
}

.vision_content .vi_left .vi_img5 {
  width: 364px;
  height: 495px;
  margin-top: -70px;
  margin-left: -80px;
}

.vision_content .vi_right {
  width: 500px;
}

#cell_vision.fixed .vi_right.fixed {
  position: fixed;
  top: 110px;
  left: 50%;
  transform: translateX(23.4%);
  padding-top: 0;
}

#cell_vision .vi_right .logo_small {
  width: 48px;
  height: 48px;
}

.vision_content .vi_right .desc-tt {
  font-size: 16px;
  line-height: 24px;
}

/* -------------Cell_calculating-------------- */

#cell_calc {
  margin: 240px 0;
}

#cell_calc.calcbg {
  background: url(../img/main_numbg.png);
  height: 20em;
}

#cell_calc {
  display: flex;
  align-items: center;
}

#cell_calc ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#cell_calc ul li {
  text-align: center;
}

#cell_calc ul .calc_tt {
  font-size: 16px;
  font-family: var(--appleB);
  letter-spacing: -0.01em;
  color: var(--mainColor);
  line-height: 48px;
  text-align: center;
}

#cell_calc ul .num1 {
  display: inline-block;
  width: 85px;
  height: 85px;
  background-position: 0px -246px;
}

#cell_calc ul .num2 {
  display: inline-block;
  width: 86px;
  height: 86px;
  background-position: -101px -246px;
}

#cell_calc ul .num3 {
  display: inline-block;
  width: 89px;
  height: 90px;
  background-position: -192px -246px;
}

#cell_calc ul .num4 {
  display: inline-block;
  width: 59px;
  height: 100px;
  background-position: -295px -246px;
}

#cell_calc ul li .number-tt {
  font-family: var(--mont);
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  letter-spacing: -0.01em;
}

#cell_calc ul li .number-tt span {
  font-size: 36px;
}

/* --------------Cell_whatwedo--------------- */

#cell_whatwedo {
  display: flex;
  justify-content: center;
  gap: 224px;
}

.wedo_left > .sub_tt {
  color: var(--subColor);
  font-weight: 600;
}

.wedo_left > .section_tt {
  color: #8a00e2;
  font-size: 40px;
  font-weight: 600;
  position: relative;
}

.wedo_left .desc_tt {
  width: 435px;
  font-size: 16px;
  text-align: right;
  line-height: 24px;
  transform: translateY(-60px);
}

.wedo_left .wedo_img {
  width: 434px;
  height: 596.5px;
}

.wedo_left .sub_tt,
.wedo_left .section_tt {
  transform: translateX(-120px);
  z-index: 10;
}

.wedo_left .wedo_img {
  transform: translateY(-80px);
}

.wedo_right {
  margin-top: 144px;
}

.wedo_right ul {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.wedo_right li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.wedo_right li .round {
  width: 220px;
  height: 220px;
  background-color: var(--lightblack);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wedo_right li .round:hover:after {
  content: "";
  position: absolute;
  right: 5px;
  top: 15px;
  background-image: url(../img/cellt_sprite_day.png);
  width: 46px;
  height: 46px;
  background-position: -242px 0;
}

.wedo_right .wedo1 {
  display: inline-block;
  width: 132px;
  height: 129px;
  margin: 0 auto;
  background-position: 0 -347px;
}

.wedo_right .round:hover .wedo1 {
  background-position: 0 -476px;
}

.wedo_right .wedo2 {
  width: 129px;
  height: 129px;
  margin: 0 auto;
  background-position: -172px -347px;
}

.wedo_right .round:hover .wedo2 {
  background-position: -172px -476px;
}

.wedo_right .wedo3 {
  width: 120px;
  height: 128px;
  margin: 0 auto;
  background-position: -341px -347px;
}

.wedo_right .round:hover .wedo3 {
  background-position: -341px -476px;
}

.wedo_right ul li {
  display: flex;
  flex-direction: column;
}

.wedo_right ul li .wedo p {
  font-family: var(--appleR);
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  font-weight: bolder;
}

/* ---------------------Cell_Article---------------------- */

#cell_article {
  margin: 350px 0;
  background: url(../img/core4_bg.jpg);
  height: 560px;
}

#cell_article > .container {
  position: relative;
}

#cell_article .side_tt {
  top: 159px;
  left: 14%;
}
.slide_hidden {
  overflow: hidden;
  width: 1300px;
  height: 500px;
  transform: translateX(25%);
}
#cell_article .slide_wrapper {
  position: relative;
}
#cell_article .slide_wrapper .slides {
  position: absolute;
  display: flex;
  gap: 20px;
  top: 100px;
  /*flip card-container*/
  cursor: pointer;
}
#cell_article .slide_wrapper .slides .slide {
  width: 280px;
  height: 380px;
  border: 2px solid #353535;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
  /* perspective: 10000px; */
  box-sizing: border-box;
}
#cell_article .slide_wrapper .slide:hover {
  transform: perspective(1000px) rotateY(180deg);
}

#cell_article .slide_wrapper .slide.clone:hover {
  transform: perspective(1000px) rotateY(180deg);
}
#cell_article .slide_wrapper .slide .side {
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}
.slide .side .sidecenter {
  font-family: var(--appleB);
  font-weight: 700;
  font-size: 26px;
  color: white;

  display: flex;
  flex-direction: column;
  gap: 25px;
}
.slide .side .sidecenter > .arti_date {
  font-size: 24px;
  font-weight: normal;
}
.slide .back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(180deg);
}
.slide .back button {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.card:hover .slide .back button {
  display: flex;
  justify-content: center;
}

.side.back a {
  text-align: center;
}
