.sub_main_wrap {
  background-position-y: -10px;
}

.sub_nav_wrap {
  margin-top: 24px;
}
.page-nav {
  font-family: var(--mont);
  font-weight: 400;
  text-transform: uppercase;
}

.page-nav * {
  margin-left: 10px;
}
.page-nav .active {
  color: var(--mainColor);
  font-weight: 500;
}
.material-icons-outlined {
  font-size: 24px;
  transform: translateY(6px);
}

/*             PRODUCT LIST             */
#prd_wrap {
  margin-bottom: 240px;
}
.prd_list {
  margin: 72px 0;
}
.prd_list .prd_accd {
  width: 970px;
  margin: 0 auto;
  cursor: pointer;
}
.prd_item_tt {
  height: 200px;
  padding: 0 8em;
  border-bottom: 2px solid rgba(175, 175, 175, 0.2);
}
.prd_item_tt h2 {
  font-family: var(--mont);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 81px;
  letter-spacing: -0.03em;
  position: relative;
}
.prd_item_tt h2:before {
  content: attr(data-cateNum);
  position: absolute;
  color: #9c9c9c50;
  font-size: 48px;
  font-family: var(--mont);
  font-weight: 500;
  top: -0.8em;
  left: -1.5em;
}
.prd_item_tt .accPlus {
  position: relative;
  line-height: 200px;
}
.prd_item_tt .accPlus span {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 2px;
  background: var(--colorblack);
  transition-duration: 0.4s;
  cursor: pointer;
}
.prd_item_tt span:nth-child(2) {
  transform: rotate(90deg);
}
.ui-state-active .prd_item_tt span:nth-child(2) {
  transform: rotate(0deg);
}
